In [15]:
import pandas as pd
pd.options.display.float_format = '{:.0f}'.format

In [7]:
results = pd.read_csv("results_per_size.csv")
results = results.drop(["Unnamed: 0"], axis=1)

In [21]:
results.round().astype(str)

,memory_size,average,variance,median,true_value,abs_average_diff,abs_median_diff
0,5000,1630303.0,9138055658.0,1652297.0,1612010,18293.0,40287.0
1,10000,1613839.0,264472358.0,1614011.0,1612010,1829.0,2001.0
2,20000,1614370.0,485681686.0,1615486.0,1612010,2360.0,3476.0
3,30000,1614890.0,160928868.0,1615342.0,1612010,2880.0,3332.0
4,90000,1612010.0,0.0,1612010.0,1612010,0.0,0.0

In [23]:
results_impr = pd.read_csv("results_impr_per_size_1.csv")
results_impr = results_impr.drop(["Unnamed: 0"], axis=1)
results_impr.round().astype(str)

,memory_size,average,variance,median,true_value,abs_average_diff,abs_median_diff
0,5000,1633430.0,1083678694.0,1631306.0,1612010,21420.0,19296.0
1,10000,1618949.0,2023655603.0,1618203.0,1612010,6939.0,6193.0
2,20000,1598902.0,78387777.0,1599075.0,1612010,13108.0,12935.0
3,30000,1608619.0,354818231.0,1599167.0,1612010,3391.0,12843.0
4,90000,1612010.0,0.0,1612010.0,1612010,0.0,0.0

In [22]:
results_impr = pd.read_csv("results_impr_per_size.csv")
results_impr = results_impr.drop(["Unnamed: 0"], axis=1)
results_impr.round().astype(str)

,memory_size,average,variance,median,true_value,abs_average_diff,abs_median_diff
0,5000,1602375.0,1468061581.0,1600598.0,1612010,9635.0,11412.0
1,10000,1635917.0,853374229.0,1641420.0,1612010,23907.0,29410.0
2,20000,1619235.0,1410105416.0,1611849.0,1612010,7225.0,161.0
3,30000,1608022.0,264219920.0,1614601.0,1612010,3988.0,2591.0
4,90000,1612010.0,0.0,1612010.0,1612010,0.0,0.0